body {
  background: url("https://wallpapercave.com/wp/wp4719896.jpg");
  background-size: cover;
  background-position: fixed;
}

.displaying {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin-top: 30px;
}
