.login {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(3, 29, 145, 0.342);
  color: whitesmoke;
}
