.sign-up {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(145, 24, 3, 0.342);
  color: whitesmoke;
}
